.our-products {
  margin-bottom: 40px;
}

.our-products-header-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 10px;
  margin-bottom: 30px;
}

.our-products-header-title {
  font-size: calc((22px * var(--scale-factor)) + var(--user-font-modifier));;
  font-weight: 700;
  color: #231F20;
}

.our-products-header-button {
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 50px;
  font-size: calc((12px * var(--scale-factor)) + var(--user-font-modifier));;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}

.our-products-header-button:hover {
  background-color: #fff;
  color: #ff4d4d;
  transition: background-color 0.3s ease;
}

.our-products-header-button-icon {
  width: 16px;
  height: 16px;
}

@media (min-width: 540px) {
  .our-products-header-wrapper {
    flex-direction: row;
    align-items: start;
  }

  .our-products-header-button {
    display: flex;
    gap: 12px;
    padding: 10px 12px;
    border-radius: 50px;
    font-size: calc((12px * var(--scale-factor)) + var(--user-font-modifier));;
    font-weight: 600;
  }

}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

@media (min-width: 768px) {
  .our-products-header-title {
    font-size: calc((24px * var(--scale-factor)) + var(--user-font-modifier));;
  }

  .our-products-header-button {
    display: flex;
    gap: 12px;
    padding: 14px 24px;
    border-radius: 50px;
    font-size: calc((12px * var(--scale-factor)) + var(--user-font-modifier));;
    font-weight: 600;
  }
}

@media (min-width: 1200px) {
  .our-products-header-button {
    padding: 14px 30px;
  }
}

