.info-section {
  margin: 40px 0;
  background-color: #ffffff;
}

.page-description {
  font-size: calc((15px * var(--scale-factor)) + var(--user-font-modifier));;
  line-height: 1.4;
  color: #42526B;
  white-space: pre-line;
  margin-bottom: 40px;
}