.partners-carousel-container {
    margin: 30px auto;
}

.partners-carousel-header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
}

.partners-carousel-title {
    font-size: calc((24px * var(--scale-factor)) + var(--user-font-modifier));;
    font-weight: 700;
    text-align: center;
    margin-bottom: 12px;
}

.partners-carousel-navigation {
    display: flex;
    gap: 10px;
    margin-left: auto;
}
.partners-carousel-navigation-btn {
    width: 40px;
    height: 40px;
    font-size: 18px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    
    background-color: #fff;
    color: #C4C4C4; 
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.partners-carousel-navigation-btn:hover,
.partners-carousel-navigation-btn.active {
    background-color: #FF3E41;
    color: #fff;
    box-shadow: 0 4px 12px rgba(255, 77, 79, 0.3);
}

.partner-slider {
    padding: 5px 15px;
    outline: none;
}

.partner-wrapper {
    background-color: #fff;
    aspect-ratio: 1.2 / 1;
    margin: 0 auto;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 4px 0px #0000001A;
    transition: transform 0.3s ease;
}
.partner-wrapper:hover {
    transform: translateY(-5px);
}
.partner-image {
    width: 80%; 
    height: 80%;
    object-fit: contain;
    display: block;
}

.partners-skeleton-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f2f2f2;
    background: linear-gradient(
        90deg,
        #f2f2f2 25%,
        #e6e6e6 50%,
        #f2f2f2 75%
    );
    background-size: 200% 100%;
    animation: skeleton-loading 1.5s infinite;
    border-radius: 16px;
    z-index: 1;
}

.opacity-0 {
    opacity: 0;
}

.opacity-100 {
    opacity: 1;
}

@media (min-width: 540px) {
    .partners-carousel-header {
        flex-direction: row;
    }

    .partners-carousel-title {
        margin-bottom: 0;
    }
    .partners-carousel-navigation {
        display: flex;
        gap: 10px;
        margin-left: 0;
    }
}

@media (min-width: 1024px) {
    .partners-carousel-header {
        padding: 0 20px;
    }
}

@media (min-width: 1200px) {
    .partner-wrapper {
        max-width: 220px;
    }
}
