.nav_wrapper_bg {
	width: 100%;
	background-color: rgba(255, 255, 255, 1);
	margin: 0 auto;
	z-index: 400;
	transition: all 0.3s ease;
}

.nav_wrapper_bg.is-sticky {
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	animation: slideDown 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes slideDown {
    from { transform: translateY(-100%); }
    to { transform: translateY(0); }
}

.site-header__container {
	display: none;
}

@media (min-width: 1200px) {
    .site-header__container {
		display: block;
	}
	.site-header {
		padding-top: 8px;
		padding-bottom: 8px;
	}
}


.site-header__top {
	background-color: rgba(255, 255, 255, 1);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 8px;
}

.site-header__top-wrapper {
	display: flex;
	align-items: center;
	gap: 4px;
}


.site-header__top input[type='text'] {
	flex: 1;
	max-width: 480px;
	height: 44px;
	border: 1px solid #e4e6e8;
	border-radius: 14px;
	padding: 0 13px;
	font-size: calc((12px * var(--scale-factor)) + var(--user-font-modifier));;
	outline: none;
	color: #c4c4c4;
	margin: 0 20px;
}
.menu_top{
	display: none;
}
.site-header__top-info {
	display: flex;
	align-items: center;
	gap: 36px;
}

.site-header__top-info-location-link {
    display: flex;
    align-items: center;
    color: inherit;
    text-decoration: none;
    transition: opacity 0.2s;
}


.site-header__top-info-location-icon {
	font-size: calc((20px * var(--scale-factor)) + var(--user-font-modifier));;
	cursor: pointer;
	flex-shrink: 0 !important;
}


.site-header__top-info-location-icon:hover {
	transform: scale(1.05);
	opacity: 0.8;
}

.site-header__top-info-location-icon path,
.site-header__top-info-location-icon circle,
.lang_icon path,
.lang_icon circle,
.lang_icon polyline {
	stroke-width: 1.5px !important;
}

.lang_select {
	display: inline-flex;
}

.lang_wrapper {
    display: flex;
    align-items: center;
}

.lang_icon {
    font-size: 26px;
}

.media {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 44px;
}
.site-header-top-right {
	display: flex;
	align-items: center;
	gap: 18px;
	cursor: pointer;
}

.site-header-top-right:hover .site-header-top-right-phone-icon, .site-header-top-right:hover .site-header-top-right-call {
	transform: scale(1.05);
	opacity: 0.9;
	transition: all 0.3s ease-in-out;
}

.site-header-top-right-call {
	background-color: #fff6f9;
	border-radius: 50%;
	width: 42px;
	height: 42px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.site-header-top-right-phone-icon {
	font-size: calc((16px * var(--scale-factor)) + var(--user-font-modifier));;
	color: #FF3E41;
	flex-shrink: 0;;
}

.site-header-top-right-contact-text {
	font-size: calc((12px * var(--scale-factor)) + var(--user-font-modifier));;
	color: #5d6c7b;
	font-weight: 600;
	margin-bottom: 4px;
}

.site-header-top-right-contact-title {
	font-size: calc((12px * var(--scale-factor)) + var(--user-font-modifier));;
	font-weight: 500;
	color: #35383f;
}
.download {
	display: none;
}

.line{
    border: none;
    padding: 0;
    height: 0.1px;
    background-color: #e4e6e8;
	margin-top: 10px;
	margin-bottom: 4px;
}

.site-header__bottom {
	flex: 1;
	max-width: 100%;  
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 12px 0;
	gap: 20px;
}

.site-header__bottom-list {
	flex: 1;
	max-width: 65%;
	display: flex;
	align-items: center;
    list-style: none;
	justify-content: space-between;
    margin-bottom: 0;
    padding: 0;
    min-width: 0;
}

.site-header__bottom-button-group {
	display: flex;
	align-items: center;
	gap: 15px;
	white-space: nowrap;
	flex-shrink: 0;
}

.site-header__bottom-button-group-apply {
	padding: 15px 28px;
	font-weight: 600;
	font-size: calc((13px * var(--scale-factor)) + var(--user-font-modifier));;
	letter-spacing: 1%;
	color: #ff3e41;
	border-radius: 18px;
	border: 1px solid #ff3e41;
	background-color: #ffffff;
	cursor: pointer;
	transition: all 0.3s ease;
}
.site-header__bottom-button-group-apply a{
	color: #ff3e41;
}
.site-header__bottom-button-group-apply:hover  {
	background-color: #ff3e41;
	color: #fff;
}
.site-header__bottom-button-group-apply:hover a{
	color: white;
}
.site-header__bottom-button-group-creditcalc {
	border-radius: 18px;
	font-weight: 600;
	font-size: calc((13px * var(--scale-factor)) + var(--user-font-modifier));;
	letter-spacing: 1%;
	padding: 15px 20px;
	background-color: #ff3e41;
	border: 1px solid #ff3e41;
	color: #ffffff;
	cursor: pointer;
	transition: all 0.3s ease;
}
.site-header__bottom-button-group-creditcalc a{
	color: white;
}

.site-header__bottom-button-group-creditcalc:hover {
	background-color: #fff;
	color: #ff3e41;
}
.site-header__bottom-button-group-creditcalc:hover a{
	color: #ff3e41;
}

.site-header__bottom-btn:hover .dropdown_wrapper {
    display: block;
}

