.nav-dropdown-item {
  list-style: none;
}

.nav-dropdown-trigger {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  white-space: nowrap;
  padding: 16px 8px;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.nav-dropdown__link {
  font-size: calc((13px * var(--scale-factor)) + var(--user-font-modifier));
  font-weight: 500;
  color: #5d6c7b;
}

.nav-dropdown__icon {
  width: 14px;
  height: 14px;
  transition: transform 0.3s ease;
}

.ant-dropdown-open .nav-dropdown__icon {
  transform: rotate(180deg);
}

.nav-dropdown--filled {
  padding: 15px 20px;
  border-radius: 18px;
  background: #ff3e41;
  border: 1px solid #ff3e41;
  transition: all 0.3s ease;
}

.nav-dropdown--filled .nav-dropdown__link {
  color: #fff;
}

.nav-dropdown--filled .nav-dropdown__icon {
  filter: brightness(0) invert(1);
}

.nav-dropdown--filled:hover,
.ant-dropdown-open.nav-dropdown--filled {
  background: #fff !important;
}

.nav-dropdown--filled:hover .nav-dropdown__link,
.ant-dropdown-open.nav-dropdown--filled .nav-dropdown__link {
  color: #ff3e41 !important;
}

.nav-dropdown--filled:hover .nav-dropdown__icon,
.ant-dropdown-open.nav-dropdown--filled .nav-dropdown__icon {
  filter: none !important; 
}

.custom-nav-dropdown .ant-dropdown-menu {
  padding: 10px 12px;
  border-radius: 12px;
}

.custom-nav-dropdown .ant-dropdown-menu-item a {
  display: block;
  width: 100%;
  height: 100%;
}

.custom-nav-dropdown .ant-dropdown-menu-item {
  padding: 6px !important;
  transition: all 0.2s ease;
}

.custom-nav-dropdown .ant-dropdown-menu-item a,
.custom-nav-dropdown .ant-dropdown-menu-item span {
  color: #5d6c7b !important;
  font-size: calc((14px * var(--scale-factor)) + var(--user-font-modifier));
  font-weight: 400;
}

.custom-nav-dropdown .ant-dropdown-menu-item:hover {
  background-color: #f5f7f9 !important;
}

@media (min-width: 1280px) {
  .nav-dropdown__link {
    font-size: calc((14px * var(--scale-factor)) + var(--user-font-modifier));;
  }
}