.reception-days-section {
    margin: 40px auto;
    background: #fff;
    min-height: 60vh;
    padding-bottom: 30px;
}

.section-title {
    color: #FF3E41;
    font-size: calc((24px * var(--scale-factor)) + var(--user-font-modifier));;
    font-weight: 700;
    padding: 30px 0;
    margin-bottom: 0;
}

.working-days-wrapper {
    display: flex;
    flex-direction: column;
    color: #231F20;
}

.working-definition{
    font-size: calc((20px * var(--scale-factor)) + var(--user-font-modifier));;
    font-weight: 700;
}

.working-days {
    font-size: calc((16px * var(--scale-factor)) + var(--user-font-modifier));;
    color: #57585F;
}

.working-hours {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.clock-icon {
    fill: #FF3E41;
    font-size: 18px;
}

.working-hour {
    font-size: calc((15px * var(--scale-factor)) + var(--user-font-modifier));;
    font-weight: 700;
}

.receivers {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 30px;
  margin: 30px 0;
}

@media (min-width: 540px) {
    .section-title {
        font-size: calc((28px * var(--scale-factor)) + var(--user-font-modifier));;
    }
}

.error-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    grid-column: 1 / -1;
}