.news-container {
    margin: 30px 0;
    width: 100%;
}

.news-wrapper {
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 24px 12px;
    border-radius: 12px;
    gap: 40px;
}


.news-header__title {
  font-size: calc((18px * var(--scale-factor)) + var(--user-font-modifier));;
  line-height: 1.3;
  color: #231F20;
  font-weight: 600;
  margin-bottom: 20px;
}

.news-header__list {
  list-style: none;
  padding: 0;
  color: #666;
  font-size: calc((14px * var(--scale-factor)) + var(--user-font-modifier));;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.news-header__list-item {
    display: flex;
    align-items: start;
    gap: 10px;
}

/* News Grid - Responsive logic */
.news-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

/* News Card Styling */
.news-card {
  background: #fff;
  border-radius: 12px;
  padding: 16px 14px;
  box-shadow: 0 2px 10px #801A251A;
  display: flex;
  flex-direction: column;
  border: 1px solid #FFF6F9;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  cursor: pointer;
}

.news-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px #801A251A;
}

.news-card__date {
  color: #FF3E41;
  font-weight: 600;
  font-size: calc((14px * var(--scale-factor)) + var(--user-font-modifier));;
  padding: 10px 12px;
  border-radius: 10px;
  background: #FF3E410A;
}

.news-card__description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: calc((14px * var(--scale-factor)) + var(--user-font-modifier));;
  line-height: 1.4;
  color: #231F20;
  font-weight: 400;
  margin: 20px 0;
  flex-grow: 1;
}

.news-card__button {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: opacity 0.2s;
  background-color: #F7F7F7;
  transition: all 0.3s ease-in-out;
}

.news-card__button-text {
    font-size: calc((12px * var(--scale-factor)) + var(--user-font-modifier));;
    font-weight: 700;
    color: inherit;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

.news-card:hover .news-card__button {
  background-color: #FF3E41;
  color: white;
}

.news-card__button-icon {
  color: #313131;
  transition: color 0.3s ease;
}

.news-card:hover .news-card__button-icon {
  color: #ffff;
}

@media (min-width: 480px) {
    .news-header__list {
        font-size: calc((16px * var(--scale-factor)) + var(--user-font-modifier));;
    }
}

@media (min-width: 540px) {
    .news-grid {
        grid-template-columns: repeat(2, 1fr);
        flex: 1;
    }
    .news-card__description {
        line-height: 1.4;
        color: #231F20;
        font-weight: 400;
        margin: 20px 0;
        flex-grow: 1;
    }
}

@media (min-width: 768px) {
    .news-wrapper {
        padding: calc((24px * var(--scale-factor)) + var(--user-font-modifier));;
    }
}

@media (min-width: 1200px) {
    .news-header {
        max-width: 50%;
    }
    .news-container {
        margin: 30px auto;
    }
    .news-wrapper {
        flex-direction: row;
        align-items: center;
        padding: 30px 50px;
        border-radius: 30px;
    }

    .news-header__title {
        font-size: calc((36px * var(--scale-factor)) + var(--user-font-modifier));;
        line-height: 1.4;
    }

    .news-header__list {
        list-style: none;
        padding: 0;
        color: #666;
        font-size: calc((16px * var(--scale-factor)) + var(--user-font-modifier));;
        gap: 16px;
    }

    .news-header__list-item {
        display: flex;
        align-items: start;
        gap: 10px;
    }

    .news-card {
        background: #fff;
        border-radius: 12px;
        padding: 16px 14px;
    }
    .news-grid {
        flex: 1;
        align-items: start;
    }
    .news-grid .news-card:nth-child(odd) {
        margin-top: 20px;
    }

    .news-grid .news-card:nth-child(even) {
        margin-top: 0;
    }

    .news-card__date {
        font-size: calc((14px * var(--scale-factor)) + var(--user-font-modifier));;
        padding: 10px 12px;
        border-radius: 10px;
        background: #FF3E410A;
    }

    .news-card__description {
        font-size: calc((15px * var(--scale-factor)) + var(--user-font-modifier));;
        margin: 15px 0;
    }

    .news-card__button {
        width: 100%;
        padding: 10px;
    }

    .news-card__button-text {
        font-size: calc((10px * var(--scale-factor)) + var(--user-font-modifier));;
    }

}

@media (min-width: 1400px) {
    .news-container {
        margin: 30px auto;
    }
    .news-header {
       max-width: 600px;
    }

    .news-header__list {
        font-size: calc((18px * var(--scale-factor)) + var(--user-font-modifier));;
    }
    .news-header__list-icon {
        width: 20px;
        height: 20px;
    }

    .news-card__button-text {
        font-size: calc((12px * var(--scale-factor)) + var(--user-font-modifier));;
    }
}
